
.main-wrap{
    height: -webkit-fill-available;
    width: 100%;
    background: url(../image/1.jpg) no-repeat;
    background-size: cover;
    overflow: hidden;
    .main{
        position: absolute;
        bottom: 120px;
        left: 0;
        right: 0;
        .main-login{
            display: inline-block;
            height: 40px;
            line-height: 40px;
            text-align: center;
            font-size: 14px;
            color: #fff;
            border-radius: 3px;
            cursor: pointer;
            border: 0;
        }
    }
    .footer{
        position: fixed;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0, 0, 0, .6);
        span{
            font-size: 14px;
            color: #fff;
            text-align: center;
            padding: 6px 0;
        }
    }
}